body {
    margin-top: 120px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(200, 195, 248);
}

#slider {
    position: relative;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    box-shadow: 0px 20px 40px 25px rgba(0, 0, 0, 0.3);
    border-radius: 1%;
}

#slider ol {
    position: relative;
    list-style: none;
    display: inline-flex;
    height: 100%;
    width: 1000px;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#slider ol li {
    position: relative;
    height: 100%;
    width: 100%;
    list-style: none;
    transition: 0.5s;
}

#slider ol li img {
    width: 1000px;
    height: 600px;
}

a{
    text-decoration: none;
}

#slider li a {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    right: 0;
    margin: 0;
    background-color: rgba(36, 36, 36, 0.658);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#slider li a p {
    margin: 0px;
    padding: 10px;
    height: 30px;
    text-align: center;
    color: white;
}


#slider #prevButton, #slider #nextButton {
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
    color:rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    border-radius: 100px;
}

#slider #prevButton {
    left: 20px;
}

#slider #nextButton {
    right: 20px;
}

#prevButton:hover #nextButton:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
